html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-size: auto;
    margin-bottom: 60px;
    background: url('https://img.freepik.com/premium-photo/portrait-young-business-teacher-woman-red-shirt-skirt-glasses-holding-wooden-classroom-pointer-copy-space-isolated-white-background-education-teaching-high-school-university-concept_365776-14994.jpg?w=2000')
}
.navbar {
    background-color: #D9D9D9;

}

.navbardown {
    height: 50px;
    background-color: #ff0000;
}
.navbardownone {
    background-color: blue;
}

.imagecontainer{
    max-width: auto;
    height: auto;
}




.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(70% - 37px);
}

@media (max-width: 40px) {
    .h-custom {
        height: 100%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #D9D9D9;
    text-align: center;
}
