html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-size: auto;
    margin-bottom: 60px;
    background: url('https://img.freepik.com/free-photo/enthusiastic-asian-girl-smiles-shows-thumbs-up-looks-happy-saying-yes-approve-recommend-smth-standing-white-background_1258-98163.jpg?w=2000')
}

.navbar {
    background-color: #D9D9D9;
}

.navbardown {
    height: 50px;
    background-color: #ff0000;
}
.navbardownone {
    background-color: blue;
}

.imagecontainer{
    max-width: auto;
    height: auto;
}

.footer{
    background-color: #D9D9D9;
}


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(70% - 37px);
}

@media (max-width: 40px) {
    .h-custom {
        height: 100%;
    }
}