@{
    ViewData["Title"] = "FileUpload";
}
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileUpload">
    <div class="form-group">
        <div>
            <div class="col-md-10">
            <p>Upload File</p>
            <input type="file" name="file"/>
        </div>
    </div>
    <div class="form-group">
            <input type="submit" value="Upload" />
    </div>
    <div class="form-group">
            <span>@TempData["msg"]</span>
    </div>
    </div>
</form>