@model TeacherViewModel


@{
    ViewData["Title"] = "Teacher";
}





@*
     <div class="container cont-section" >
      <partial name="WelcomeCourse" model="@Model" />


     </div>*@
      <!-- Activities-->
@if (Model.ActivityList != null)
{

    <partial name="TeacherModuleAndActivityPartial" model="@Model" />
   

       
}
else
{
   <h2 style="margin: 5px 25px 20px 0px">Activities<a asp-controller="Activities" asp-action="Create" > <img style="margin: 0px 0px 5px 5px" id="btn-create" src="/icons/create.svg" alt="Alternate Text" /></a></h2>
}


  
 <div class="container cont-section" >
      <partial name="AssignmentPartial" model="@Model.AssignmentList" />

     </div>


   