@model StudentCourseViewModel


<body id="WelcomePage">

    <h1>Welcome @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName) to 
        "@Html.DisplayFor(model=> model.CourseCourseName)" Course!</h1>

</body>






