@model StudentViewModel


<body id="WelcomePage">

<h1>Welcome @Html.DisplayFor(model => model.FirstName)!</h1>
<h1>@Html.DisplayFor(model=> model.CourseId)</h1>
    
</body>
@*@Html.DisplayFor(model => model.Description)
@Html.DisplayFor(model => model.StartDate)
@Html.DisplayFor(model => model.EndDate)*@





