 


 <div class="tabs">

    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone" asp-controller="Home" asp-action="Privacy">Modules</label>
    <div class="tab">
      <h1>Modules</h1>


    </div>

    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo"asp-area="">Activities</label>
    <div class="tab">
      <h1>Activities</h1>   
      <partial name="Index"  />

    </div>
    
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Documents</label>
    <div class="tab">

    </div> <input type="radio" name="tabs" id="tabfour">
    <label for="tabfour">Assignments</label>
    <div class="tab">

    </div> 
    </div> <input type="radio" name="tabs" id="tabfour">
    <label for="tabfour">Students</label>
    <div class="tab">

    </div>
  </div>

  
  
    <link rel="stylesheet" href="~/css/PartialView.css" asp-append-version="true" />

        <script src="~/js/site.js" asp-append-version="true"></script>
