@model TeacherViewModel



@* <div class="tabs">

    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone" asp-controller="Home" asp-action="Privacy">Modules</label>
    <div class="tab">
      <h1>Modules</h1>


    </div>*@

   
      <h1>Activities</h1>   
      <!--Modules and Activities-->
@if (Model.ActivityList != null)
{
    <partial name="Index" model="@Model.ActivityList" />
}
else
{
   <h2 style="margin: 5px 25px 20px 0px">Activities<a asp-controller="Modules" asp-action="Create" asp-route-id="@Model.Current.Course.Id"> <img style="margin: 0px 0px 5px 5px" id="btn-create" src="/icons/create.svg" alt="Alternate Text" /></a></h2>
}
    </div>
    
@*    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Documents</label>
    <div class="tab">

    </div> <input type="radio" name="tabs" id="tabfour">
    <label for="tabfour">Assignments</label>
    <div class="tab">

    </div> 
    </div> <input type="radio" name="tabs" id="tabfour">
    <label for="tabfour">Students</label>
    <div class="tab">

    </div>*@

  
  
    <link rel="stylesheet" href="~/css/PartialView.css" asp-append-version="true" />

        <script src="~/js/site.js" asp-append-version="true"></script>
